.div1 {
    background-color: red;
    display: block;
    width: 1000px;
    height: 1000px;
}

.div2 {
    background-color: blue;
    left: 250px;
    top: 250px;
    position: absolute;
    display: block;
    width: 500px;
    height: 500px;
}